<div class="row clearfix">
    <div class="col_half">
        <canvas id="{{ chart }}"></canvas>
    </div>
    <div class="col_half">
        <div class="list_counts">
        <table>
            <thead>
            <tr>
                <td>Termo/Câmpus</td>
                {% for campus, data in result.items() %}
                {% if campus != 'termos' %}
                <td><div class="rotate">{{ campus }}</div></td>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for term, data in result.termos.items() %}
                <tr>
                    <td>{{ term }}</td>
                    {% for c in data %}
                    {% if c == 0 %}
                    <td>{{ c }}</td>
                    {% else %}
                    <td><font color="#2f9e41"><b>{{ c }}</b></font></td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="row clearfix">
    {% for campus, data in result.items() %}
    {% if data.pesquisadores %}
    <h3 class="highlight">{{ campus }}</h3>
    <table class="list_researchers2">
        <thead>
        <tr>
            <th>Produção</th>
            <th>Pesquisador(a)</th>
            <th>Email</th>
            <th>Lattes</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(data.pesquisadores|length) %}
        <tr>
            <td>{{ data.producoes[i] }}</td>
            <td>{{ data.pesquisadores[i].nome }}</td>
            <td>
                <a href="mailto:{{ data.pesquisadores[i].email }}" class="icon-link">
                    <i class="fas fa-envelope"></i>
                </a>
                {{ data.pesquisadores[i].email }}
            </td>
            <td>
                <a href="{{ data.pesquisadores[i].lattes }}" target="_blank" class="icon-link">
                    <i class="fas fa-external-link-alt"></i>
                </a>
                {{ data.pesquisadores[i].lattes }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>
<script>
var result_{{ chart }} = {{ result|tojson }};

const labels_{{ chart }} = Object.keys(result_{{ chart }});
const data_{{ chart }} = labels_{{ chart }}.map(label => result_{{ chart }}[label].total);

// Configuração do gráfico
var config_{{ chart }} = {
    type: 'bar',
    data: {
        labels: labels_{{ chart }},
        datasets: [{
            data: data_{{ chart }},
            backgroundColor: 'rgba(20, 180, 50, 0.8)',
            borderColor: 'rgba(47, 158, 65, 1)',
            borderWidth: 1,
            label: "Pesquisadores",
        }]
    },
    options: {
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    return value.toFixed(2);
                }
            }
        },
        scales: {
            y: {
                title: {
                    display: true,
                    text: 'Quantidade de pesquisadores'
                }
            },
            x: {
                title: {
                    display: true,
                    text: 'Câmpus'
                }
            }
        }
    }
};

var ctx_{{ chart }} = document.getElementById("{{ chart }}");
var myChart_{{ chart }} = new Chart(ctx_{{ chart }}, config_{{ chart }});
</script>