<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

	<link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

	<!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <script>
    {% block script %}{% endblock %}
    </script>

	<!-- Inclua o Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <!-- Inclua o plugin Chart.js datalabels -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</head>
<body>
    <div class="container">
    	<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo do IFG">
    	<h1><a href="/">{% block cabecalho %}{% endblock %}</a></h1>
    	<div id="content">
    		{% block content %}{% endblock %}
    	</div>
    	<div class="credit">
			<img src="{{ url_for('static', filename='img/criar.png') }}">
			<p>Desenvolvido por Raphael Gomes (<a href="mailto:raphael.gomes@ifg.edu.br">raphael.gomes@ifg.edu.br</a>)</p>
    	</div>
	</div>
</body>
</html>